# 1. 데이터 불러오기
## os 모듈
getcwd
- 입력 : 없음
- 출력 : 현재 경로를 변환

chdir
- 입력 : path
- 출력 : 현재 경로를 path로 수정

listdir
- 입력 : 없음
- 출력 : path 내에 있는 모든 파일명 변환

In [25]:
import os
print(os.getcwd())

path = os.getcwd()

C:\Users\rkfka\Desktop\강의자료 (수강생 제공)-20221203T140147Z-001\강의자료 (수강생 제공)\내가 만든 코드\2. 파이썬을 이용한 머신러닝 모델 학습

In [26]:
# 경로 수정
os.chdir(r'C:\Users\rkfka\Desktop\강의자료 (수강생 제공)-20221203T140147Z-001\강의자료 (수강생 제공)\내가 만든 코드')
display(os.getcwd())

'C:\\Users\\rkfka\\Desktop\\강의자료 (수강생 제공)-20221203T140147Z-001\\강의자료 (수강생 제공)\\내가 만든 코드'

In [27]:
# 상대 경로 설정
# os.listdir(os.getcwd())[0]
os.chdir(r'2. 파이썬을 이용한 머신러닝 모델 학습')
display(os.getcwd())

'C:\\Users\\rkfka\\Desktop\\강의자료 (수강생 제공)-20221203T140147Z-001\\강의자료 (수강생 제공)\\내가 만든 코드\\2. 파이썬을 이용한 머신러닝 모델 학습'

## read_csv 함수

filepath
- 읽어올 파일의 경로. 기본값 없음

sep
- 구분자. 기본값 ','

header
- 칼럼의 위치. 기본값 0

In [28]:
import pandas as pd
df = pd.read_csv('../../data/classification/adult.csv')
display(df.head())

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,y
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,0

# 2. 데이터 확인하기

## Shape 메서드
shape 메서드의 출력 결과는 (행 개수, 열 개수)로 표현된 데이터의 모양으로, 샘플 수와 특징 개수를 알 수 있음

In [29]:
print(df.shape)

(48842, 15)

## info 메서드
info 메서드는 데이터프레임을 구성하는 칼럼별 데이터 타입과 결측을 제외한 샘플 수를 반환합니다.

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      48842 non-null  int64
 1   x2      46043 non-null  object
 2   x3      48842 non-null  int64
 3   x4      48842 non-null  object
 4   x5      48842 non-null  int64
 5   x6      48842 non-null  object
 6   x7      46033 non-null  object
 7   x8      48842 non-null  object
 8   x9      48842 non-null  object
 9   x10     48842 non-null  object
 10  x11     48842 non-null  int64
 11  x12     48842 non-null  int64
 12  x13     48842 non-null  int64
 13  x14     47985 non-null  object
 14  y       48842 non-null  int64
dtypes: int64(7), object(8)
memory usage: 5.6+ MB
None

## describe 메서드
describe 메서드는 숫자형 칼럼의 기술 통계량을 반환합니다.

In [31]:
display(df.describe())

,x1,x3,x5,x11,x12,x13,y
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382,0.239282
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444,0.426649
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000

# 3. 데이터 분할하기

## drop 메서드
drop 메서드는 인덱스를 기준으로 데이터프레임의 행(axis = 0) 혹은 열(axis = 1)을 제거합니다.

머신러닝 모델을 개발할 때는 특징과 라벨을 분리하거나 불필요한 칼럼(예: ID)을 제거하는데 이 메서드를 주로 사용함

In [32]:
# 특징과 라벨 분리 예제

'''
• 라인 1: 이름이 'y'인 칼럼을 제거한 데이터프레임을 변수 X에 저장합니다.
• 라인 2: 이름이 'y'인 칼럼을 변수 y에 저장합니다. 
'''

X = df.drop('y', axis = 1)
y = df['y']

## train_test_split 함수
train_test_split 함수는 하나 이상의 배열을 학습 데이터와 평가 데이터로 분할합니다.

*arrays
- 분할할 배열로 입력한 순서대로 학습 데이터와 평가 데이터로 분할됨

test_size
- 전체 데이터에서 평가 데이터의 비율

random_state
- 시드를 나타내며, 모델 재현을 위해 고정하는 것이 바람직함

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 2022)

# X와 y를 학습 데이터(비율: 70%)와 평가 데이터(비율: 30%)로 분할합니다.
# X와 y를 순서대로 입력했으므로 출력을 X_train, X_test, y_train, y_test로 정의했습니다.

(잠깐) 시드

파이썬에서 생성하는 난수는 엄밀히 따지자면 난수가 아니며, 시드라는 특정한 숫자를 시작으로 정해진 알고리즘을 사용해 난수를 순서대로 생성합니다. 
따라서 시드를 고정하면 같은 결과를 재현할 수 있습니다.

In [34]:
import numpy as np

np.random.seed(0)
print(np.random.random(4))
np.random.seed(0)
print(np.random.random(4))

[0.5488135  0.71518937 0.60276338 0.54488318]
[0.5488135  0.71518937 0.60276338 0.54488318]

## KFold 클래스

KFold 클래스는 데이터의 인덱스를 서로 중복되지 않는 k개의 폴드로 분할하여 i(i=0, 1, 2, …, k-1)번째 이터레이션에서 i번째 폴드를 평가 데이터의
인덱스로 나머지 폴드에 속한 모든 인덱스를 학습 데이터의 인덱스로 반환하는 인스턴스를 생성합니다.

### 주요 인자
n_splits
- k-겹 교차 검증에서 폴드 개수
- 기본값 : 5

shuffle
- 데이터를 나누기 전에 섞을 것인지 여부
- False

### 주요 메서드
split
- 학습 데이터와 평가 데이터의 인덱스를 순서대로 변환

In [35]:
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5, shuffle = True)

for train_idx, test_idx in kf.split(X):
    X_train, X_test = X.loc[train_idx], X.loc[test_idx]
    y_train, y_test = y.loc[train_idx], y.loc[test_idx]
    # model training and test

# 라인 2: KFold 인스턴스를 생성합니다.
# 라인 3: split 메서드에 X를 입력하여, X의 인덱스를 학습 데이터의 인덱스인 train_idx와 평가 데이터의 인덱스 test_idx로 나누어 순회합니다. 라인 2에서 n_splits를 5로 설정했으므로, test_idx는 0번째 폴드부터 4번째 폴드의 인덱스를 순회합니다.
# 라인 4 – 6: loc 인덱서 를 사용해 학습 데이터와 평가 데이터로 분할합니다. 실제로 머신러닝 모델을 개발하는 상황이라면 라인 6부터 X_train과 y_train로 모델을 학습하고 X_test와 y_test으로 학습한 모델을 평가합니다.